.bg-custom{
    background-color: #decbd7;
    min-height: 100vh;
    /* padding: 2rem; */
}

@font-face {
  font-family: 'Gagalin';
  src: url('./assets/fonts/Gagalin-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.gagalin {
  font-family: 'Gagalin', sans-serif;
}
